{% extends 'Theatre/theatrebase.html' %}

{% block content %}


<div class="container" style="padding-bottom: 22px;">
    <h6 class="h2 text-black d-inline-block mb-0">User Activity</h6>
 </div>

  
<div class="table-responsive" style="padding-top: 20px;">
    <table id="myTable" class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">ID</th>
          <th scope="col" class="sort" data-sort="budget">User Name </th>
          <th scope="col" class="sort" data-sort="status">Join Date</th>
          <th scope="col">Last Book</th>
          <th scope="col">Status</th>
          <th scope="col" class="sort" data-sort="completion">Amount</th>

        </tr>
      </thead>
      <tbody class="list">
        
        <tr>
          <th scope="row">test</th>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        
      </tbody>
    </table>
  </div>



{% endblock %}