{% extends 'Theatre/theatrebase.html' %}

{% block content %}


<div class="container" style="padding-bottom: 22px;">
    <h6 class="h2 text-black d-inline-block mb-0">Upcoming Shows</h6>
 </div>
 <div class="text-right" style="padding-bottom: 17px;">
  <a class="btn btn-sm btn-info" href="{% url 'upcoming_movie' %}">ADD Upcoming Movie</a>
</div>
  
<div class="table-responsive" style="padding-top: 20px;">
    <table id="myTable" class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">ID</th>
          <th scope="col" class="sort" data-sort="budget">Movie Name </th>
          <th scope="col" class="sort" data-sort="status">Type</th>
          <th scope="col">Language</th>
          <th scope="col">Cast Name</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody class="list">
        {% for i in upComingShow %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.movie_title}}</td>
          <td>{{i.movie_type}}</td>
          <td>{{i.language}}</td>
          <td>{{i.cast_name}}</td>
          <td>
            <div class="button-center text-center">
              <a href="#" class="btn btn-success">Edit</a>
							<a href="#" class="btn btn-danger">Delete</a>
						</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}