{% extends 'useradmin/base.html' %}

{% block content %}
{% load static %}

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Revenue of Dealer</h1>
                   
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                              </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Dealer Name</th>
                                            <th>Phone Number </th>
                                            <th>Customer</th>
                                            <th>Date of Booking</th>
                                            <th>Received Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in booked %}
                                        <tr>
                                            <td>{{i.dealer.dealer_name}}</td>
                                            <td>{{i.dealer.dealer_phone}}</td>
                                            <td>{{i.customer.name}}</td>
                                            <td>{{i.date_booking.date}}</td>
                                            <td>{{i.paid_amount}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

<script type="text/javascript">

    window.mytest = function() {var isValid = confirm('Are you sure do you want to delete ?');
        if (!isValid) {event.preventDefault(); alert("it won't delete!");}}
    
</script>

{% endblock %}