{% extends 'Theatre/base.html' %}

{% block content %}
{% load static %}
    <div class="container">
        <h6 class="h2 text-black d-inline-block mb-0">Update Screen</h6>
    </div>
    <form action="{% url 'screen_update' screen_update.id %}" method="POST">
    {% csrf_token %}
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Name Of the Screen :</label>
                <label style="margin-left: 3px;text-align: center;height: 32px;border-radius: 0.375rem;">{{screen_update.screen_name}}</label>
                <label > ( Not changable )</label>
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Number of Seat Rows :</label>
                <input type="number" name="row" placeholder="Seat Row" style="margin-left: -8px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.row}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">VIP Seats Count:</label>
                <input type="number" name="vip_seat" placeholder="No of Seats Available" style="margin-left: 35px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.vip_seats}}" value="{{vip_seats}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">VIP Seats Price:</label>
                <input type="number" name="vip_price" placeholder="No of Seats Available" style="margin-left: 42px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.vip_price}}" value="{{vip_price}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Premium Seats Count :</label>
                <input type="number" name="premium_seat" placeholder="No of Seats Available" style="margin-left: -13px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.premium_seats}}" value="{{premium_seats}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Premium Seats Price :</label>
                <input type="number" name="premium_price" placeholder="No of Seats Available" style="margin-left: -4px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.premium_price}}" value="{{premium_price}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Executive Seats Count :</label>
                <input type="number" name="executive_seat" placeholder="No of Seats Available" style="margin-left: -16px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.executive_seats}}" value="{{executive_seats}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Executive Seats Price :</label>
                <input type="number" name="executive_price" placeholder="No of Seats Available" style="margin-left: -7px;text-align: center;height: 32px;border-radius: 0.375rem;" value="{{screen_update.executive_price}}" value="{{executive_price}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Normal Seats Count :</label>
                <input type="number" name="normal_seat" placeholder="No of Seats Available" style="margin-left: 0px;text-align: center; height: 32px;border-radius: 0.375rem;" value="{{screen_update.normal_seats}}" value="{{normal_seats}}">
            </div>
        </div>
        <div class="container" style="margin: 40px;">
            <div style="padding-left: 100px;">
                <label style="padding-right: 26px;">Normal Seats Price :</label>
                <input type="number" name="normal_price" placeholder="No of Seats Available" style="margin-left: 8px;text-align: center; height: 32px;border-radius: 0.375rem;" value="{{screen_update.normal_price}}" value="{{normal_price}}">
            </div>
        </div>
        <div>
            {% for message in messages %}
            <h4 style="color: red;margin-left: 393px;">{{message}}</h4>
            {% endfor %}
        </div>
        <div class="container" style="margin: 40px;">
            <label class="control-label" for="submit"></label>
            <div class="controls" style=" padding-left: 384px;">
                <button type="submit" class="btn btn-success btn-md" style="margin-left:78px">Save</button>
            </form>
                <a href="{% url 'screens' %}"><button type="button" class="btn btn-danger btn-md" style="margin-left: 17px;">Cancel</button></a>     
            </div>
        </div>

{% endblock %}