{% extends 'user/login/login_base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
     
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="{% static 'user/assets/images/account/account-bg.jpg' %}">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Login</span>
                        <h2 class="title">welcome back</h2>
                    </div>
                    <form class="account-form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username <span>*</span></label>
                            <input type="text" name="username" placeholder="Enter Your Username"  value="{{username}}" required>
                        </div>
                        <div class="form-group">
                            <label for="pass3">Password<span>*</span></label>
                            <input type="password" name="password" placeholder="Password" id="pass3" required>
                        </div>
                        <div class="form-group checkgroup">
                                {% for message in messages %}
                                <h6 style="color: red;">{{message}}</h6>
                                {% endfor %}
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="log in">
                        </div>
                    </form>
                    <div class="option">
                        Don't have an account? <a href="{% url 'register' %}">sign up now</a>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="{% provider_login_url "facebook" method="oauth2" %}">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% provider_login_url "google" %}">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->

    {% endblock %}