{% extends 'user/login/login_base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
     
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="{% static 'user/assets/images/account/account-bg.jpg' %}">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <h2 class="title">OTP</h2>
                    </div>
                    <form class="account-form" action="{% url 'otp' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>OTP<span>*</span></label>
                            <input type="text" name="otp" placeholder="Enter Your OTP" required>
                        </div>
                       
                        <div class="form-group checkgroup">
                                {% for message in messages %}
                                <h6 style="color: red;">{{message}}</h6>
                                {% endfor %}
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Submit OTP">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->

    {% endblock %}