{% extends 'user/userbase.html' %}

{% block content %}

{% load static %}
<div class="w3l-ab-grids py-5">
    <div class="container py-lg-4">
        {% for i in movie %}
        <div class="row ab-grids-sec align-items-center">
            <h2 class="pt-3 pb-3" style="margin-left:16px;">{{i.movie_title}}</h2>
            <div class="col-lg-12 ab-right">
                <img class="img-fluid" src="{{i.BannerURL}}">
                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                    <button style="margin-left: 480px;margin-top: 20px;" class="btn btn-primary">Watch Trailer</button>
                </a>
                <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                    <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/{{i.trailer_link}}?autoplay=1">
                        </iframe>
                </div>
            </div>
        </div>
             
        <div class="w3l-counter-stats-info text-center">
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{i.cast_name}}</p>
                        <h4>Cast</h4>
                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{i.director_name}}</p>
                        <h4>Director</h4>
                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{i.language}}</p>
                        <h4>language</h4>
                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{i.movie_type}}</p>
                        <h4>TYPE</h4>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<section class="w3l-clients" id="clients">
<!-- /grids -->
<div class="cusrtomer-layout py-5">
    <div class="container py-lg-4">
        <div class="headerhny-title">
            <h3 class="hny-title pb-3">{{i.dealer.theatre_name}} Theatre</h3>
            <h4 >Show Time : {{i.show_time}} </h4>
            <a href="{% url 'seat_book' i.id %}">
                <button style="margin-top: 20px" class="btn btn-info">Seat Book</button>
            </a>
        </div>
        <!-- /grids -->
    </div>
    <!-- /grids -->
</div>
{% endfor %}  
<!-- //grids -->
</section>
<!--//testimonials-->
    <!--grids-sec2-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">New Releases</h3>
                        </div>
                        <div class="headerhny-right text-lg-right">
                            <h4><a class="show-title" href="{% url 'index' %}">Show all</a></h4>
                        </div>
                    </div>
                </div>
                <div class="owl-three owl-carousel owl-theme">
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m12.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">The Hustle</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m11.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">The Lego</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m9.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Joker </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m8.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Toy story 4</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m1.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Rocketman</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="genre.html">
                                <figure>
                                    <img class="img-fluid" src="assets/images/m2.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <h3> <a class="title-gd" href="genre.html">Doctor Sleep</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                        <div class="button-center text-center mt-4">
                            <a href="genre.html" class="btn watch-button">Watch now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}