{% extends 'user/userbase.html' %}

{% block content %}

{% load static %}
<style>
  body{
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	background: #fff;
  padding-top: 100px
}
.countdown-label {
  font: thin 15px Arial, sans-serif;
	color: #65584c;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
  letter-spacing: 0px;
  margin-top: -1px;
}
#countdown{
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
  width: 240px;
	height: 96px;
	text-align: center;
  background: #f1f1f1;
	border-radius: 5px;
	margin: auto;
}
#countdown #tiles{
  color: #fff;
	position: relative;
	z-index: 1;
text-shadow: 1px 1px 0px #ccc;
	display: inline-block;
  font-family: Arial, sans-serif;
	text-align: center;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-size: 48px;
  font-weight: thin;
  display: block;
}
.color-full {
  background: #53bb74;
}
.color-half {
  background: #ebc85d;
}
.color-empty {
  background: #e5554e;
}
#countdown #tiles > span{
	width: 70px;
	max-width: 70px;

	padding: 18px 0;
	position: relative;
}
#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}
#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
.hidden {
  display: none;
}
.btn-success{
  color: #53bb74;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}
</style>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"> -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<div class="container pt-5">
  <div class="py-5 text-center">
    
    <h2>Booking form</h2>
    </div>
  
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">ORDER SUMMARY</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">

          <div>
            <h6 class="my-0">Seleted Movie : {{ movie.movie_title }} </h6>
            <small class="text-muted"> Cast : {{movie.cast_name}}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Show Time </h6>
          </div>
          <span class="text-muted">{{movie.show_time}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Language </h6>
          </div>
          <span class="text-muted">{{movie.language}}</span>
        </li>
        
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Selected Seats</h6>
          </div>
          <span class="text-muted">{{seatvalues}}</span>
        </li>

        <!-- <div id="valueAll" data-dealerValue=""></div> -->
        
        <li class="list-group-item d-flex justify-content-between">
          <span>Total Ticket Price</span>
          <strong>{{totalprice}}</strong>
        </li>
      </ul>
     
      <input type="hidden" id="set-time" value="1"/>
      <div id="countdown">
        
        <div id='tiles' class="color-full"></div>
        <div class="countdown-label">Make Payment Before Ending Countdown</div>
      </div>

    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Confirm Your Seats</h4>
      <form id="form" method="POST">
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="firstname" id="firstName" placeholder="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="lastName">Mobile Number</label>
            <input type="tel" class="form-control" name="number" id="number" placeholder="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>


        <div class="form-group mb-3">
          <label for="email">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>

      
        <hr class="mb-4">
        <!-- <button style="display: none;">Hello</button> -->

 
        <hr class="mb-4">

        <input id="button" class="btn-success" type="submit" value="Confirm Seat">
        <div class="box-element hidden" id="payment-info">
          <small>Paypal Options</small>
          <div id="paypal-button-container"></div>
          <button id="rzp-button1" class="btn btn-success" style="background-color: #7f00bf; text-size-adjust: 2rem;">RazorPay</button>
          <!-- <button id="cod" class="btn btn-success btn-block" style="background-color: #fc878d; text-size-adjust: 2rem;">Cash On Delivery</button> -->
        </div>
        <!-- <button class="btn btn-primary btn-lg btn-block" id="click" type="submit">Confirm Booking</button> -->
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
  </footer>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var form = document.getElementById('form');

		form.addEventListener('submit', function(e){
	    	e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('payment-info').classList.remove("hidden");
	    	document.getElementById('button').classList.add("hidden");
			  
	    })

    function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');


  var total ={{totalprice}};
  // let seatvalues = {{seatvalues}};
  
  // console.log(typeof(seatvalues));
	// var payment_status='razorpay';

	var options = {
		"key": "rzp_test_eMnSXZs7JW5fj7", // Enter the Key ID generated from the Dashboard
		"amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
		"currency": "USD",
		"name": "Acme Corp",
		"description": "Test Transaction",
		"image": "https://example.com/your_logo",
		"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
		"handler": function (response){
			submitFormData()
		},
		"prefill": {
			"name": "Gaurav Kumar",
			"email": "gaurav.kumar@example.com",
			"contact": "9999999999"
		},
		"notes": {
			"address": "Razorpay Corporate Office"
		},
		"theme": {
			"color": "#F37254"
		}
	};
	var rzp1 = new Razorpay(options);
	document.getElementById('rzp-button1').onclick = function(e){
		rzp1.open();
		e.preventDefault();
  }

  function submitFormData(){
	    console.log('Payment button clicked')
      // console.log(payment_status);
      let firstname = document.getElementById("firstName");
      let number = document.getElementById("number");
      let email = document.getElementById("email");
      let seatValue = localStorage.getItem("seatNumber");

      // let val = 'E1,F4';
      // console.log('value:',seatValue);
      // console.log('seatValue:',seatValue);
     
      let totalPrice = {{totalprice}};
      // let dealerId = {{dealer}};
      // let movieId = {{movie_id}};
      
      $.ajax({
              url: '/booked_address/{{dealer}}/{{movie_id}}/',
              type: 'POST',
              data: {
                  firstname:firstname.value,
                  number : number.value,
                  email : email.value,
                  totalPrice : totalPrice,
                  selectedSeats : seatValue,
                  csrfmiddlewaretoken: csrftoken,
              },
              dataType: 'json',
              success: function (data) {
                  if (data) {
                      console.log('payment success');
                      window.location.href = '/pay_success/';
                      localStorage.removeItem("seatCount")
                      localStorage.removeItem("totalPrice")
                      localStorage.removeItem("seatNumber")
                      localStorage.removeItem("typeOfSeat")
                      localStorage.removeItem("selectedMoviePrice")
                      localStorage.removeItem("selectedMovieIndex")
                      localStorage.removeItem("selectedSeats")
                  }
              }
          });

        // var url = "/booked_address/"
	    	// fetch(url, {
	    	// 	method:'POST',
	    	// 	headers:{
	    	// 		'Content-Type':'applicaiton/json',
	    	// 		'X-CSRFToken':csrftoken,
	    	// 	}, 
	    	// 	body:JSON.stringify({'firstname':firstname}),
	    		
	    	// })
	    	// .then((response) => response.json())
	    	// .then((data) => {
				// console.log('Success:', data);
				// alert('Transaction completed');

				// })
	    }
</script>

<script src="https://www.paypal.com/sdk/js?client-id=AZi4j3g6uXWwKJsugE1qJGc5yxB4-y6XoqDa8uNHO7iJ65YChtJV3bV9Nnm_wvuqt-LC6cT-Fp1MiPT0&currency=USD&disable-funding=card"></script>
<script>
  // Render the PayPal button into #paypal-button-container
  var total = {{totalprice}};
  // var payment_paypal='paypal'

  paypal.Buttons({
    
    // Set up the transaction
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: total
          }
        }]
      });
    },

    // Finalize the transaction
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        // Show a success message to the buyer
        // alert('Transaction completed by ' + details.payer.name.given_name + '!');
        submitFormData()
      });
    }


  }).render('#paypal-button-container');
</script>

<script>
var time = 1160 * 01;
setInterval(function() {
  var seconds = time % 60;
  var minutes = (time - seconds) / 60;
  if (seconds.toString().length == 1) {
    seconds = "0" + seconds;
  }
  if (minutes.toString().length == 1) {
    minutes = "0" + minutes;
  }
  document.getElementById("tiles").innerHTML = minutes + ":" + seconds;
  time--;
  if (time == 0) {
    window.location.href = "/";
    localStorage.removeItem("seatCount");
    localStorage.removeItem("totalPrice");
    localStorage.removeItem("seatNumber");
    localStorage.removeItem("typeOfSeat");
    localStorage.removeItem("selectedMoviePrice");
    localStorage.removeItem("selectedMovieIndex");
    localStorage.removeItem("selectedSeats");
  }
}, 1000);

</script>

{% endblock %}