{% extends 'user/index_main_base.html' %}

{% block content %}

{% load static %}

    <!-- ==========Banner-Section========== -->
    <section class="banner-section">
        <div class="banner-bg bg_img bg-fixed" data-background="{% static 'user/assets/images/banner/banner01.jpg' %}"></div>
        <div class="container">
            <div class="banner-content">
                <h1 class="title  cd-headline clip"><span class="d-block">book your</span> tickets for 
                    <span class="color-theme cd-words-wrapper p-0 m-0">
                        <b class="is-visible">Movie</b>
                    </span>
                </h1>
                <p>Safe, secure, reliable ticketing.Your ticket to live entertainment!</p>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Movie-Section========== -->
    <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="tab">
                <div class="section-header-2">
                    <div class="left">
                        <h2 class="title">movies</h2>
                        <p>Be sure not to miss these Movies today.</p>
                    </div>
                    <ul class="tab-menu">
                        <li class="active">
                            now showing 
                        </li>
                    </ul>
                </div>
                <div class="tab-area mb-30-none">
                    <div class="tab-item active">
                        <div class="owl-carousel owl-theme tab-slider">
                            <div class="item">
                                <div class="movie-grid">
                                    {% for i in movie %}
                                    <div class="movie-thumb c-thumb">
                                        <a href="{% url 'book_show' i.id %}">
                                            <img src="{{i.MainURL}}" style="height: 290px;" alt="movie">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a href="{% url 'book_show' i.id %}">{{i.movie_title}}</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <span class="content"> Language : {{i.language}}</span>
                                            </li>
                                            <li>
                                                <span class="content">Type : {{i.movie_type}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Movie-Section========== -->

       <!-- ==========Movie-Section========== -->
       <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="tab">
                <div class="section-header-2">
                    <div class="left">
                        <h2 class="title">COMING SOON</h2>
                        <p>Be sure not to miss these Movies today.</p>
                    </div>
                    <ul class="tab-menu">
                        <li class="active">
                            coming soon
                        </li>
                    </ul>
                </div>
                <div class="tab-area mb-30-none">
                    <div class="tab-item active">
                        <div class="owl-carousel owl-theme tab-slider">
                            <div class="item">
                                <div class="movie-grid">
                                    {% for i in upcoming %}
                                        <div class="movie-thumb c-thumb">
                                            <a href="{% url 'book_show' i.id %}">
                                                <img src="{{i.MainURL}}" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="{% url 'book_show' i.id %}">{{i.movie_title}}</a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <span class="content"> Language : {{i.language}}</span>
                                                </li>
                                                <li>
                                                    <span class="content">Type : {{i.movie_type}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Movie-Section========== -->

{% endblock %}