   
{% extends 'user/index_main_base.html' %}

{% block content %}

{% load static %}
    
    <div class=" p-5"></div>
    <div class="container pt-5">
        <div class="head p-5">
            <h4 style="color: green;text-align: center">Great! Your Ticket is confirmed.</h4>
        </div>
        
        
            <div class="row">
                {% for item in booked_details %}
                <div class="col-md-12">
                        <div class="col-md-6">
                    
                        </div>
                        <div class="col-md-7">
                            <div class="float-right">
                                <p>Booked by {{item.date_booking}}
                                </p>
                            </div>
                        </div>
                    

                    <div class="row m-3 border-bottom pt-5 pb-5">
                        <div class="col-md-12">
                            <h5 class="pb-3" style="padding-left: 110px;">{{theatre_name}} Theatre</h5>
                            <div style="padding-left: 10%;">
                                <ul>
                                    <li>Moive Name     : {{movie.movie_title}}</li>
                                    <li>Language       : {{movie.language}}</li>
                                    <li>Cast Name      : {{movie.cast_name}}</li>
                                    <li>Type           : {{movie.movie_type}}</li>
                                    <li>Selected Seats : {{seat_id.occupied_seats}}</li>
                                    <li>Total Price    : {{item.paid_amount}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
